/* ===== Style Global ===== */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: gray;
}

input, textarea, select {
    margin: 0 0 1em 0;
    font-family: 'Roboto';
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid darkblue;
    font-size: 20px;;
}

main {
    padding-top: 133px;
    margin: auto;
}

.liste_menu {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    color: #fffefe;
}


/* ===== Style Header ===== */

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

nav>ul>li>a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

nav>ul>li>a:hover {
    background-color: #555;
}

nav>ul>li {
    display: flex;
    align-items: flex-start;
}

.icon_menu {
    display: none;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
}

.nav_responsive {
    display: none;
}


/* ===== Style Footer ===== */

footer {
    background-color: black;
    width: 100%;
    margin: 0;
    align-items: center;
}

blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: gray;
}

footer small {
    display: block;
    text-align: center;
    padding-bottom: 6px;
    color: lightgrey;
}

.social>ul>li { /* Mauvais */
    margin: 10px;
}


/* ===== Style Accueil ===== */

.fond {
    background-image: url("../media/fond.jpg");
    margin: 0;
    height: 85px;
    display: flex;
    justify-content: center;
}

.background_accueil {
    position: relative;
    width: 100%;
    height: 100%;
}

.background_accueil>video {
    z-index: 0;
    margin-top: -3.1em;
}

.background_accueil>.titre {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    top: 38%;
    visibility: hidden;
    opacity: 0;
    animation-duration: 3s;
}

.background_accueil>.titre>h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
}

.presentation {
    display: flex;
    width: 100%;
    margin: 15px 0 15px 0;
    align-items: center;
}

.img_explain_system {
    margin-left: 5px;
    max-width: 55%;
    flex: 1;
    border-radius: 65px;
}

.txt_explain_system {
    margin-left: 2%;
    margin-right: 5px;
    flex: 2;
}

/* ===== Style page Planetes ===== */
.galerie {
    display: flex; 
    margin-right: 2em;
    margin-left: 1em;
    margin-top: 1em;
}

.galerie>.planetes{
    width: 75%;
    margin-right: 0.8em;
    margin-left: 1em;
    background-color: aliceblue;
    border-radius: 1em;  
    height: auto;
}

.galerie>aside{
    width: 25%;
    height: auto;
}

.box-img {
    position: relative;
}

.box-img>img {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.looking {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.box-img:hover>img {
  opacity: 0.5;
  box-shadow: 0 5px 10px 0 rgba(255, 0, 0, 0.5), 0 7px 40px 0 rgba(0, 0, 0, 0.3);
}

.box-img:hover .looking {
  opacity: 1;
}

.looking>img { 
  padding: 16px 32px;
  max-width: 70px;
  opacity: 0.9;
}

.galerie>.planetes>ul>li {
    width: 25%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.planetes>ul>li>p>strong{
    padding-right: 5px;
}

.galerie>.planetes>ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.popup-planetes {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-contenu.planetes {
    width: 75%;
    height: 6em;
    visibility: hidden;
}

.popup-contenu {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ===== Style Animations et medias ===== */

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    17% {
        opacity: 0.15;
    }
    25% {
        opacity: 0.20;
    }
    32% {
        opacity: 0.25;
    }
    43% {
        opacity: 0.35;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .icon_menu {
        display: inline;
    }
    .galerie{
        flex-direction: column;
    }
    .galerie>aside {
        width: 100%;
        margin: 0;
    }
    .galerie>.planetes {
        width: 100%;
        margin: 0;
    }
    .galerie>.planetes>ul>li {
        width: auto;
    }
    .nav_responsive {
        display: inline;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    .nav_responsive a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .nav_responsive a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }
    .nav_responsive .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    nav>ul>li:not(.a_gg) {
        display: none;
    }
    nav>ul>li {
        width: 100%;
        text-align: center;
    }
    .presentation {
        flex-direction: column;
    }
    .img_explain_system {
        width: 100%;
    }
    .txt_explain_system {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .nav_responsive {
        padding-top: 15px;
    }
    .nav_responsive>a {
        font-size: 18px;
    }
}

/*______________________________________________CSS page Equipe______________________________________________*/

div.equipe {
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 25px;
}

p#pantho {
    width: 85%;
    height: 100%;
}

p#pbenji {
    width: 85%;
    height: 100%;
}

#antho {
    width: 45%;
    height: 45%;
    min-height: 20%;
    min-width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 100%;
}

#benji {
    width: 45%;
    height: 45%;
    min-height: 20%;
    min-width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 100%;
}

main.main_equipe {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.equipe>div>ul.liste_social {
    display: flex;
    height: 100%;
    flex-direction: row;
    margin-bottom: 3%;
}

div.equipe>div {
    display: flex;
    flex-direction: column;
}

div.equipe>div>ul.liste_social>li {
    flex-direction: row;
    width: 10%;
    max-width: 60px;
    min-width: 20px;
    padding-left: 1%;
    padding-right: 1%;
}

@media (max-width: 480px) {
    div.equipe {
        flex-direction: column;
        width: 80%;
    }
    
    div.equipe>div {
        padding-left: 6%;
    }
}

/*______________________________________________CSS page Presse______________________________________________*/

main.main_presse {
    background-color: whitesmoke;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.presse {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 25px;
}

main.main_presse>h1 {
    text-align: center;
    width: 95%;
    border: gray solid 2px;
    border-radius: 50px;
    background-color: white;
}

div.presse>h2 {
    width: 65%;
    margin-left: 15%;
    color: black;
}

div.presse>p {
    width: 65%;
    margin-left: 15%;
}

/*______________________________________________CSS page FAQ______________________________________________*/

body {
    background-color: whitesmoke;
}

main.main_faq {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

div.question {
    display: flex;
    height: auto;
    width: 60%;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
}

div.question>a:link {
    text-decoration: none;
    color: black;
}

div.question>a:visited {
    text-decoration: none;
    color: black;
}

div.reponse {
    height: auto;
    width: 75%;
    background-color: rgba(0,0,0,0.2);
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 140px;
}

div.reponse>span {
    color: black;
}

.ancre {
    height: 150px;
}

main.main_faq>h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: gray solid 2px;
    border-radius: 50px;
    background-color: white;
}

/*______________________________________________CSS page Recrutement______________________________________________*/

main.main_recrutement {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.ligne_metier {
    display: flex;
    flex-direction: row;
}

main.main_recrutement>h1 {
    text-align: center;
    width: 95%;
    border: gray solid 2px;
    border-radius: 50px;
    background-color: white;
}

div.metier {
    width: 40%;
    padding: 2%;
    margin-left: 5%;
    margin-bottom: 4%;
    margin-top: 4%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 25px;
}

@media (max-width: 480px) {
    div.ligne_metier {
        flex-direction: column;
        align-items: center;
    }
    
    div.metier {
        width: 75%;
    }
}